 ol {
     list-style-type: upper-roman;
 }
 
 ol ol {
     list-style-type: upper-alpha;
 }
 
 ol ol ol {
     list-style-type: decimal;
 }
 
 li.pink {
     color: #ffa69e;
 }
 
 li.blue {
     color: #b8f2e6;
 }
 
 li.red {
     color: #ff6b6b;
 }
 
 body {
     background-color: #797d62;
 }